<%- include("./partials/header") %>
    <center>
        <a href="https://placements4u.github.io/Placement/index.html"><img src="logo.png"></a>
    </center>
    <div class="container mt-5">
        <h1>Welcome to Placements4u - Openings platform!</h1>
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/register" class="btn btn-danger">Register</a>
    </div>


    <%- include("./partials/footer") %>